* {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.wrap{
  width:1000px;
  margin:0px auto; 
}

.main{
  height:1000px;
  margin-top: 5px;
  background: #FFF;
}

.news{
  height:250px;
  width:340px;
  display: inline;
  border:1px solid #E8E8E8;
}

.title{
  height:35px;
  border-bottom: 2px solid #E8E8E8;
  font-size: 10px;
  font-family: "微软雅黑";
  color: #786F66;
  font-weight: bold;
  line-height: 35px;
}

.title_left{
  width: 70%;
  float: left;
  margin: 0px; 
  padding-left: 10px;
}

.title_right{
  width: 20%;
  float: right;
}

.title_right a{
  text-decoration: none;
  color: #999;
  padding-right: 10px;
  font-size: 10px;
  font-weight: normal;
}

.pic_new{
  height: 80px;
  margin-top: 10px;
  line-height: 22px;
}

.pic_new img {
  float: left;
  margin: 0 5px;
}

.pic_new a{
  color: #C00;
  text-decoration: none;
}


.products {
  background: green;
  height: 250px;
  width: 410px;
  border: 1px solid #E8E8E8;
}

.sidebar {
  background: yellow;
  height: 250px;
  width: 230px;
  border: 1px solid #E8E8E8;
}

.news, .products, .sidebar{
  float:left;
  height: 250px;
  border: 1px solid #E8E8E8;
  display: inline;
}


